.deps
*.swp
Makefile
Makefile.in*
/build-aux/
/effects/*.effect
/m4/
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/gnome-video-effects.pot
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/preview/
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/config.*
/configure
/gnome-video-effects.pc
/gnome-video-effects-*.tar.*
/INSTALL
/intltool*.in
