Makefile
Makefile.in*
stamp-it
POTFILES
xmldocs.make
.deps
.libs
install-sh
libtool
omf-make
*.mo
*.gmo
gnome-doc-utils.make
intltool*.in
missing
ltmain.sh
stamp-h1
.intltool-merge-cache
missing
mkinstalldirs
depcomp
configure
aclocal.m4
autom4te.cache
config.*
omf.make
.lock-wscript
.waf-*
_build_
*.swp
*.effect
gnome-video-effects.pc
previews
